<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>spring boot 게시판</title>
  <link rel="stylesheet" href="/asset/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/asset/js/jquery-1.12.4.min.js"></script>
  <script src="/asset/js/popper.min.js"></script>
  <script src="/asset/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
</head>
<body>
     <header class="border-bottom bg-primary py-2 px-4 mb-5">
        <p class="text-white">그냥 헤더임</p>
     </header>
</body>
</html>